[submodule "wofi"]
	path = wofi
	url = git@github.com:tompivel/wofi-config.git
[submodule "hypr"]
	path = hypr
	url = git@github.com:tompivel/hyprland-config.git
[submodule "nvim"]
	path = nvim
	url = git@github.com:tompivel/kickstart.nvim.git
[submodule "wallpapers"]
	path = wallpapers
	url = git@github.com:tompivel/wallpapers.git
